body{
	background-color: darkgoldenrod;
}
p{
	color: antiquewhite;
	font-size: 20px;
}
h1{
	text-align: center;
}
#score{
	text-align: center;
}
.clear{
	clear: both;
}
#canvas{
	background-color: burlywood;
}
#canvas-bloc{
	margin-left: -250px;
	padding-left: 50%;
}
